page-home {

}
.image-service{
    
    background-image: url("../../assets/img/ama_casa.jpg") ;
    height: 50px;
    width: auto;
}

.imagen-publicidad{
    height: auto;
    width: auto;
}

.icon-size{
    font-size: 20px !important;
}

.line-vertical{
    width: 1px; 
    background-color: #ccc8c8; 
    height: 100%;
    float: right;
}

.pricing-service{
    font-weight: 400 !important; 
    font-size: 13px!important; 
    color:#868686 !important;
    padding-left: 12px;  
}